/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */

:root {
    --theme-color: rgba(255, 51, 0, 0.911);
    --theme-on:  rgb(255, 51, 0);
}

/* Background */

body {
    width: 100%;
    height: 100vh;
    background: url("https://i.imgur.com/It2UuVm.jpeg") no-repeat center center/cover;
}

/* Credit to the Image */
#credit {
    position: absolute;
    bottom: 3px;
    right: 3px;
    font-size: 5px;
    color: white;
}

/* Container */

.container {
    flex-direction: column;
    width: 350px;
    height: 550px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    background: rgb(28, 24, 48);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Profile */

.container .main .intro .imgBx {
    width: 100px;
    height: 100px;
    background: white;
    overflow: hidden;
    border: 4px solid var(--theme-color);
    border-radius: 50%;
    animation: borders 10s infinite;
}

@keyframes borders {
    0% {
        border: 4px solid var(--theme-color);
    }
    25% {
        border: 4px solid rgb(255, 230, 0);
    }
    50% {
        border: 4px solid rgb(0, 238, 255);
    }
    75% {
      border: 4px solid rgb(136, 255, 0);
    }
    100% {
        border: 4px solid var(--theme-color);
    }
}

.container .main .intro .imgBx img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .main .intro h2 {
    color: white;
}

.container .main .intro p {
    color: var(--theme-color);
}

.container .main .intro {
    flex-direction: column;
}

/* Links */

.container .main .links a {
    text-decoration: none;
}

.container .main .links a img {
    transition: 0.55s;
    width: 24px;
}

/* Contact Me button */

.container .main .contact-btn {
    padding: 10px 50px;
    color: var(--theme-on);
    background: transparent;
    border: 1px solid var(--theme-on);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.55s;
}

.container .main .contact-btn:hover {
    color: white;
    background: var(--theme-on);
}

/* Main */

.container .main {
    flex-direction: column;
    width: 100%;
    height: 70%;
}

/* Stats */

.stats {
    background: white;
    width: 100%;
    height: 30%;
}

.stats .stat {
    width: 33%;
    height: 30px;
    flex-direction: column;
    background: white;
    border-right: 1px solid rgb(175, 175, 175);
}

.stat:last-child {
    border: none;
}

.stats .stat p small {
    color: var(--theme-color);
}

/* Utility classes */

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.y-margin {
    margin: 10px 0;
}

.top-margin {
    margin-top: 7px;
}

.x-margin {
    margin: 0 10px;
}

.fonts {
    font-family: 'Poppins', sans-serif;
}
